---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rich Stitch</title>
    <script type="module" src="/rich-stitch/assets/index.js"></script>
    <link rel="stylesheet" href="/rich-stitch/assets/index.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
