---
---
<div
  class="prose prose-stone
  prose-h1:font-bold prose-h1:text-xl
  prose-p:text-justify prose-p:font-serif
  prose-img:rounded-xl
  prose-figcaption:text-sm prose-figcaption:text-gray-600 prose-figcaption:italic prose-figcaption:mt-2 prose-figcaption:text-center">
  <slot />
</div>
