---
layout: default
---

<h3>Recent Posts</h3>


{% assign sorted_posts = site.posts | sort: 'date' | reverse %}
{%- for post in sorted_posts  -%}

<article>
    <header>
        <h3>
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h3>
        <!-- <span> {{ post.date | date: "%Y-%m-%d" }} </span> -->
    </header>

    {{ post.excerpt }}

    <a class="more" href="{{ post.url | relative_url }}">Read more</a>
</article>


{%- endfor -%}


